body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color:#ffffff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-bar input {
  padding: 5px;
  font-size: 16px;
}

.cart {
  display: flex;
  align-items: center;
}

.cart-button {
  background: none;
  border: none;
  cursor: pointer;
}

.cart-button img {
  width: 24px;
  height: 24px;
}

.logo {
  font-size: 1.5em;
  color: black;
}

.search-bar input {
  padding: 5px;
  font-size: 1em;
}

.cart {
  font-size: 1.2em;
}

.ads-section {
  padding: 20px;
  background-color: #cfcfcf;
  text-align: center;
}
.anuncios{
  color: black
}

.ad {
  margin: 10px 0;
  padding: 20px;
  background-color: #e0e0e0;
}

.product-grid {
  padding: 20px;
  background-color: #cfcfcf;
}

.filter select {
  padding: 10px;
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.product {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.produtos{
  color: black;
}

.product-name {
  font-size: 1em;
  color: black;
}

.footer {
  padding: 10px 20px;
  background-color: #cfcfcf;
  color: black;
  text-align: center;
}

.carousel-container {
  position: relative;
  width: 100%;
  margin: auto;
}

.custom-carousel .carousel-item {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.custom-carousel .carousel-item-next.carousel-item-left,
.custom-carousel .carousel-item-prev.carousel-item-right {
  transform: translateX(15%);
  opacity: 0.5;
}

.custom-carousel .carousel-item-next.carousel-item-right,
.custom-carousel .carousel-item-prev.carousel-item-left {
  transform: translateX(-15%);
  opacity: 0.5;
}

.custom-carousel .carousel-item.active {
  transform: scale(1.05);
  opacity: 1;
}

.custom-carousel .custom-carousel-img {
  width: calc(100% / 3);
  height: auto;
  max-height: 400px;
}

.product-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.product-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.product-price {
  font-size: 20px;
  margin: 13px;
  text-align: center;
  margin-bottom: 1px;
}


/* PRODUCT PAGE */

.product-page-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  background-color:#cfcfcf;
}

.product-images {
  flex: 1;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.product-images img {
  max-width: 100%;
  height: auto;
}

.product-details {
  flex: 1;
  padding-left: 20px;
  width: 100%;
  max-width: 600px;
}

.product-title {
  font-size: 24px;
  margin: 0;
  text-align: center;
  margin-bottom: 10px;
}

.product-price1 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 1px;
}

.price-new {
  color: #333;
  font-weight: bold;
}

.price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}

.product-description {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

.product-size {
  margin-bottom: 20px;
  text-align: center;
}

.product-size label {
  margin-right: 10px;
}

.product-size select {
  padding: 8px;
  font-size: 16px;
}

.buy-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.buy-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.add-to-cart-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.add-to-cart-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.size-chart {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.size-chart img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.product-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}


/* Responsividade */
@media (min-width: 768px) {
  .product-page-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .product-images {
    margin-right: 20px;
  }

  .product-details {
    max-width: none;
  }

  .product-title, .product-price, .product-description, .product-size, .product-actions, .size-chart {
    text-align: left;
  }
}

/*Cart*/
