body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6e208d;
  color: #fd9800;
}

.logo {
  font-size: 1.5em;
}

.search-bar input {
  padding: 5px;
  font-size: 1em;
}

.cart {
  font-size: 1.2em;
}

.carousel {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  background-color: #6e208d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  min-width: 300px;
  margin-right: 20px;
  background-color: #ccc;
  padding: 40px;
  text-align: center;
  font-size: 1.2em;
  
}

.ads-section {
  padding: 20px;
  background-color: #6e208d;
  text-align: center;
}
.anuncios{
  color:#fd9800
}

.ad {
  margin: 10px 0;
  padding: 20px;
  background-color: #e0e0e0;
}

.product-grid {
  padding: 20px;
  background-color: #6e208d;
}

.filter select {
  padding: 10px;
  margin-bottom: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.product {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.produtos{
  color:#fd9800
}

.product-name {
  font-size: 1em;
  color: #fd9800;
}

.footer {
  padding: 10px 20px;
  background-color: #6e208d;
  color: #fd9800;
  text-align: center;
}


.custom-carousel .carousel-item-next,
.custom-carousel .carousel-item-prev {
  opacity: 0.5;
}

.custom-carousel .carousel-item.active {
  opacity: 1;
}

.custom-carousel .carousel-item img {
  width: 800px;
  height: 400px;
  object-fit: cover;
}